{% extends "post/base.html" %}
{% load static %}

{% block topbar %}
Admins WorkFlow
{% endblock  %}

{% block title %}
Admins WorkFlow
{% endblock %}

{% block info %}
{% endblock  %}

{% block css %}
.page-header {
		{% if user.adminprofile.cover %}
        background: url({{user.adminprofile.cover.url}}) no-repeat fixed;
        {% else %}
        background: url({% static 'post/files/backimg.jpg' %}) no-repeat fixed;
        {% endif %}
        position: reletive;
  		background-position: center;
  		background-size: cover;
}
{% endblock %}

{% block content %}
<div class="row" style="height: 210px">
	<div class="col-sm-3" style="height: 100%">
		<center>
		<img src="{{user.adminprofile.avatar.url}}" width="200px" height="200px" style="border-radius: 5px; box-shadow: 5px 5px 5px -2px;">
		</center>
	</div>
		<div class="col-sm-9" style="height: 100%">
		<h1>{{user.adminprofile.first_name}} {{user.adminprofile.last_name}}</h1>
		<h4>{{user.adminprofile.bio}}</h4>
		<hr>
		{% if user.adminprofile.city %}
			<h5><span class="fa fa-world"></span> {{user.adminprofile.city}}</h5>
		{% endif %}
		<ul class="non-circle">
        	{% if user.adminprofile.github %}
            	<li><a href="{{user.adminprofile.github}}" class=""><span class="fa fa-github-alt"></span></a></li>
			{% endif %}
            {% if user.adminprofile.twitter %}
            	<li><a href="{{user.adminprofile.twitter}}" class="me"><span class="fa fa-twitter"></span></a></li>
			{% endif %}
            {% if user.adminprofile.linkedin %}
            	<li><a href="{{user.adminprofile.linkedin}}" class="me"><span class="fa fa-linkedin"></span></a></li>
            {% endif %}
		</ul>
	</div>
</div>
<br>

<div class="row">
	{% for post in posts %}
	<div class="col-sm-4 box">
		<a href="{% url 'post' post.author post.title %}"><h2>{{post.title}}</h2></a>
		<h6>{{post.publish}}</h6>
	</div>
	{% endfor %}
</div>
{% endblock %}